/* Putting height: 100% in the body and min-height: 100% is a combination that makes your page have a height that covers all the available height of the device, without leaving empty space at the end of the page, and even if you don't have content in the page. Additionally, by making body a flex container we can tell the inner containers to take all available space with the use of flex: 1  */
#root {
  --color-primary: #{map-get($colors, primary)};
  --color-primary-darker-1: #{map-get($colors-variations, primary-darker-1)};
  --color-primary-darker-2: #{map-get($colors-variations, primary-darker-2)};
  --color-primary-darker-3: #{map-get($colors-variations, primary-darker-3)};
  --color-primary-darker-4: #{map-get($colors-variations, primary-darker-4)};
  --color-primary-darker-5: #{map-get($colors-variations, primary-darker-5)};
  --color-primary-darker-6: #{map-get($colors-variations, primary-darker-6)};
  --color-primary-darker-7: #{map-get($colors-variations, primary-darker-7)};
  --color-primary-darker-8: #{map-get($colors-variations, primary-darker-8)};
  --color-primary-darker-9: #{map-get($colors-variations, primary-darker-9)};
  --color-primary-darker-10: #{map-get($colors-variations, primary-darker-10)};
  --color-primary-lighter-1: #{map-get($colors-variations, primary-lighter-1)};
  --color-primary-lighter-2: #{map-get($colors-variations, primary-lighter-2)};
  --color-primary-lighter-3: #{map-get($colors-variations, primary-lighter-3)};
  --color-primary-lighter-4: #{map-get($colors-variations, primary-lighter-4)};
  --color-primary-lighter-5: #{map-get($colors-variations, primary-lighter-5)};
  --color-primary-lighter-6: #{map-get($colors-variations, primary-lighter-6)};
  --color-primary-lighter-7: #{map-get($colors-variations, primary-lighter-7)};
  --color-primary-lighter-8: #{map-get($colors-variations, primary-lighter-8)};
  --color-primary-lighter-9: #{map-get($colors-variations, primary-lighter-9)};
  --color-primary-lighter-10: #{map-get($colors-variations, primary-lighter-10)};

  --color-secondary-darker-1: #{map-get($colors-variations, secondary-darker-1)};
  --color-secondary-darker-2: #{map-get($colors-variations, secondary-darker-2)};
  --color-secondary-darker-3: #{map-get($colors-variations, secondary-darker-3)};
  --color-secondary-darker-4: #{map-get($colors-variations, secondary-darker-4)};
  --color-secondary-darker-5: #{map-get($colors-variations, secondary-darker-5)};
  --color-secondary-darker-6: #{map-get($colors-variations, secondary-darker-6)};
  --color-secondary-darker-7: #{map-get($colors-variations, secondary-darker-7)};
  --color-secondary-darker-8: #{map-get($colors-variations, secondary-darker-8)};
  --color-secondary-darker-9: #{map-get($colors-variations, secondary-darker-9)};
  --color-secondary-darker-10: #{map-get($colors-variations, secondary-darker-10)};
  --color-secondary-lighter-1: #{map-get($colors-variations, secondary-lighter-1)};
  --color-secondary-lighter-2: #{map-get($colors-variations, secondary-lighter-2)};
  --color-secondary-lighter-3: #{map-get($colors-variations, secondary-lighter-3)};
  --color-secondary-lighter-4: #{map-get($colors-variations, secondary-lighter-4)};
  --color-secondary-lighter-5: #{map-get($colors-variations, secondary-lighter-5)};
  --color-secondary-lighter-6: #{map-get($colors-variations, secondary-lighter-6)};
  --color-secondary-lighter-7: #{map-get($colors-variations, secondary-lighter-7)};
  --color-secondary-lighter-8: #{map-get($colors-variations, secondary-lighter-8)};
  --color-secondary-lighter-9: #{map-get($colors-variations, secondary-lighter-9)};
  --color-secondary-lighter-10: #{map-get($colors-variations, secondary-lighter-10)};

  --color-bg-primary-darker-1: #{map-get($colors-variations, bg-primary-darker-1)};
  --color-bg-primary-darker-2: #{map-get($colors-variations, bg-primary-darker-2)};
  --color-bg-primary-darker-3: #{map-get($colors-variations, bg-primary-darker-3)};
  --color-bg-primary-darker-4: #{map-get($colors-variations, bg-primary-darker-4)};
  --color-bg-primary-darker-5: #{map-get($colors-variations, bg-primary-darker-5)};
  --color-bg-primary-darker-6: #{map-get($colors-variations, bg-primary-darker-6)};
  --color-bg-primary-darker-7: #{map-get($colors-variations, bg-primary-darker-7)};
  --color-bg-primary-darker-8: #{map-get($colors-variations, bg-primary-darker-8)};
  --color-bg-primary-darker-9: #{map-get($colors-variations, bg-primary-darker-9)};
  --color-bg-primary-darker-10: #{map-get($colors-variations, bg-primary-darker-10)};
  --color-bg-primary-lighter-1: #{map-get($colors-variations, bg-primary-lighter-1)};
  --color-bg-primary-lighter-2: #{map-get($colors-variations, bg-primary-lighter-2)};
  --color-bg-primary-lighter-3: #{map-get($colors-variations, bg-primary-lighter-3)};
  --color-bg-primary-lighter-4: #{map-get($colors-variations, bg-primary-lighter-4)};
  --color-bg-primary-lighter-5: #{map-get($colors-variations, bg-primary-lighter-5)};
  --color-bg-primary-lighter-6: #{map-get($colors-variations, bg-primary-lighter-6)};
  --color-bg-primary-lighter-7: #{map-get($colors-variations, bg-primary-lighter-7)};
  --color-bg-primary-lighter-8: #{map-get($colors-variations, bg-primary-lighter-8)};
  --color-bg-primary-lighter-9: #{map-get($colors-variations, bg-primary-lighter-9)};
  --color-bg-primary-lighter-10: #{map-get($colors-variations, bg-primary-lighter-10)};

  --color-primary-contrast: #{map-get($colors, primary-contrast)};
  --color-primary-text: #{map-get($colors, primary-text)};
  --color-secondary: #{map-get($colors, secondary)};
  --color-secondary-emphasis: #{map-get($colors, secondary-emphasis)};
  --color-bg-primary: #{map-get($colors, bg-primary)};
  --color-btn-primary: #{map-get($colors, buttons, primary)};
  --color-btn-primary-text: #{map-get($colors, buttons, primary-text)};
  --color-btn-primary-hover: #{map-get($colors, buttons, primary-hover)};
  --color-inputs-emphasis: #{map-get($colors, inputs, emphasis)};
  --color-gray-coco: #{map-get($colors, gray-coco)};

  --font-size-base: #{map-get($font-size, base)};
  --font-size-header-main: #{map-get($font-size, header, main)};
  --font-size-header-secondary: #{map-get($font-size, header, secondary)};
  --font-size-homepage-base: #{map-get($font-size, homepage, base)};

  --sizes-sidebar: #{map-get($sizes, sidebar)};
}

html {
  height: 100%;
  font-size: map-get($font-size, base);
}
body {
  position: relative;
  min-height: 100%;
  @include flex(column, space-between);
  background-color: rgba(map-get($colors, bg-primary), 0.5);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: map-get($fonts, titles), sans-serif;
  font-weight: 600;
}
ul:not(.list-styled) {
  list-style-type: none;
}

a {
  &,
  &:link,
  &:visited,
  &:hover {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
}

img {
  object-fit: cover;
  width: 100%;
}

::-webkit-scrollbar {
  width: 7px;
  border: 5px solid white;
}
::-webkit-scrollbar-thumb {
  background-color: #7b7b7b;
  background-clip: padding-box;
  border: 0.05em solid #eeeeee;
}
::-webkit-scrollbar-track {
  background-color: #bbbbbb;
}
/* Buttons */
::-webkit-scrollbar-button:single-button {
  background-color: #bbbbbb;
  display: block;
  border-style: solid;
  height: 13px;
  width: 16px;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #555555 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #777777 transparent;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: #555555 transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #777777 transparent transparent transparent;
}

// .tablet-hidden {
//   display: none;
//   @media (min-width: map-get($breakpoints, tablet-min)) {
//     display: block;
//   }
// }

.body-container {
  @include flex($flex: 1);
  position: relative;
}
